<div class="footer">
    <div class="row">
        <div class="col-lg-5">
            <h2>Cloudkitchenweb</h2>
            <p>GOOD FOOD, GOOD EAT</p>
        </div>
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <div class="col-lg-3">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-whatsapp"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter-x"></i>
        </div>
    </div>
</div>
