<div class="container mt-4 mb-4">
    <h1 class="text-center">About this site</h1>
    <div class="scrolling-text">
        <p>In this page all content about the page, How to cook the food? What ingrediants are used?</p>
    </div>
    <h3>
        Freshly prepared and cooked food is important for several reasons. Firstly, it tends to retain more nutrients compared to processed or pre-packaged foods.
        Freshly prepared meals also generally taste better and have better texture. Additionally, there is a reduced risk of contamination and foodborne illnesses when food is prepared and cooked fresh. 
        <br/>
        Overall, prioritizing freshly prepared and cooked food can contribute to a healthier and more enjoyable dining experience.
        <br/>
        Fresh food is food which has not been preserved and has not spoiled yet. For vegetables and fruits, this means that they have been recently harvested and treated properly postharvest; for meat, it has recently been slaughtered and butchered; for fish, it has been recently caught or harvested and kept cold.

        Dairy products are fresh and will spoil quickly. Thus, fresh cheese is cheese which has not been dried or salted for aging. Sour cream may be considered "fresh" (crème fraîche).
        <br/>
        Fresh food has not been dried, smoked, salted, frozen, canned, pickled, or otherwise preserved.
    </h3>
</div>