.banner{
    background-image: url(../../../assets/feel\ food.jpg);
    height:600px;
    background-position: center top;
    background-size: cover;
    padding:15px;
}
.content{
    top:30%;
    left:20%;
    position: absolute;
}
.content h1{
    color:white;
    line-height: 1.5;
    font-size: 60px;
    font-weight: bold;
}
.content a{
    text-decoration: none;
    background-color: #fff;
    color:aqua;
    padding:10px 20px;
    border-radius: 10px;

}
.content a:hover{
    background-color: #00ff84;
    color:white;
}
.stepBox{
    background-color: black;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
}
.stepBox h1{
    color:rgb(0, 255, 166);
    font-weight: bold;
    font-size: 50px;
}
.stepBox p{
    font-size: 20px;
    font-style: italic;
    color:#fff;
}
.highlight{
    font-weight: bold;
    color:rgb(0, 255, 166);
    font-style: italic;
    text-decoration: underline;
}
.foodbox{
    padding: 10px 5px;
}
.foodbox img{
    width:100%;
    height:250px;
    border-radius: 10px;
    object-fit: cover;
}
.foodbox h1{
    font-size: 18px;
    margin-top: 10px;
}
.viewmorebtn{
    text-decoration: none;
    background-color: black;
    color:white;
    padding: 10px 10px;
    border-radius: 6px;
    font-size:20px;
}
.viewmorebtn:hover{
    background-color: #00ff84;
    color: black;
}